:root {
    --color-background: #adadad;
    --color-background-front: #fff;
    --size-m: 1rem;
    --size-l: 2rem;
}

html * {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: radial-gradient(var(--color-background), var(--color-background-front));
}

main {
    height: 100vh;
    padding: var(--size-m);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}